.Maps {
  position: relative;

  .menu {
    width: 420px;
    height: 0px;

    position: relative;
    top: 10px;
    left: 10px;
    z-index: 9;

    .Accordion {
      background-color: white;
      -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
      -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    }

    .AccordionItemButton {
      display: flex;
      justify-content: center;
    }
  }

  .map {
    position: relative;
    height: 100%;
    width: 100%;

    margin: 6px 3px;
  }

  .search-inputs label { 
    margin: 0 3px 0;
    font-size: 18px;
  }
  
  .search-inputs label input {
    background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    width: 130px;
    margin: 5px;
  }

  .search-inputs label select {
    background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    width: 132px;
    margin: 5px;
    min-height: 25px;
  } 

}
