$padding: 8px;

.LoadData {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Multimapa {
  // padding: $padding;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
