@import "bulma/bulma.sass";

.Multimapa {
  height: 100%;
  width: 100%;

  .panel:not(:last-child) {
    margin-bottom: 0px;
  }

  .columns {
    height: 100%;
  }

  .checkbox-container {
    margin: 10px;
    display: flex;
    justify-content: space-around;

    input[type="checkbox"] {
      transform: scale(1.1);
    }
  }
}

#maps {
  height: 100%;

  @include mobile {
    height: 100vh;
  }
}
