$padding: 8px;

.LoadData {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Multimapa {
  height: calc(100% - #{2 * $padding});
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: $padding;
  padding: $padding;
}
